@import "~bulma/bulma.sass";

@import "frameworkStyle.scss";

img {
  box-shadow: 8px 8px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 50%);
}

.hero {
  margin-bottom: 32px;
}

// Footer
.footer-main {
  background-color: $dark; // See also https://bulma.io/documentation/overview/colors/
  padding: 20px;
}

.footer-main a {
  color: $grey;
}

@media (min-width: $tablet) {
  .footer-main {
    padding: 70px;
  }
}

.footer-divider {
  border-bottom: 1px solid $grey;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer-center {
  text-align: center;
}

@media (min-width: $tablet) {
  .footer-breakpoint-left {
    text-align: right;
  }
}
