@import "~bulma/bulma.sass";

@import "frameworkStyle.scss";

// Do not show big white number in code for prismjs
.number {
  all: unset;
}

// Bulma content reset for framework data gird
.columns
{
  margin-top: 0px;
  padding-top: 0px;
}
.column
{
  margin-top: 0px;
  padding-top: 0px;
  overflow-x: hidden; // Show horizontal scroll bar for code.
}
.column aside
{
  margin-top: 32px; // Vertical NavbarMenu
}
.content-bulma-framework table td
{
  border: unset;
  padding: unset;
}
.content-bulma-framework h1:first-child
{
  margin-top: 32px;
  margin-bottom: 16px; // Feedback
}

// Bulma modal window
.modal-bulma-framework {
  width: 75%;
}
.modal-bulma-framework h1:first-child
{
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.modal-bulma-framework h2
{
  font-size: 1em;
}

// Image shadow
img {
  box-shadow: 8px 8px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 50%);
}

// Bulma navbar because of class is-fixed-top
.is-fixed-top-offset {
  margin-bottom: $navbar-height;
}

// Bulma navbar black border
.navbar {
  border-bottom: 1px solid black;
}

// Footer
.footer-main {
  background-color: $dark; // See also https://bulma.io/documentation/overview/colors/
  padding: 20px;
}

.footer-main a {
  color: $grey;
}

@media (min-width: $tablet) {
  .footer-main {
    padding: 70px;
  }
}

.footer-divider {
  border-bottom: 1px solid $grey;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer-center {
  text-align: center;
}

@media (min-width: $tablet) {
  .footer-breakpoint-left {
    text-align: right;
  }
}
